/* Global Behaviour */

@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: rgb(221, 221, 221);
    }

    :root {
        --shadow-color: #111;
        --accent-color: #333;
        --op-accent-color: rgba(51, 51, 51, 0.3);
        --text-color: rgb(221, 221, 221);
        --skeleton-dark: hsl(180, 0%, 9%);
        --skeleton-light: hsl(180, 0%, 11%);
        --bar-color: rgb(41, 41, 41);
        --op-bar-color: rgba(41, 41, 41, 0.3);
        --select-color: rgb(31, 31, 31);
        --bar-button-color: #333;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: #555;
    }

    :root {
        --shadow-color: grey;
        --accent-color: #333;
        --op-accent-color: rgba(51, 51, 51, 0.3);
        --text-color: #555;
        --skeleton-dark: hsl(200, 20%, 90%);
        --skeleton-light: hsl(200, 20%, 97%);
        --bar-color: rgba(250, 250, 250);
        --op-bar-color: rgba(250, 250, 250, 0.3);
        --select-color: rgb(233, 233, 233);
        --bar-button-color: rgb(245, 245, 245);
    }
}

@font-face {
    font-family: std;
    src: url(resources/std.ttf);
}

html {
    scrollbar-width: thin;
    scrollbar-color: #777 #555;
    scroll-behavior: smooth;
}


html::-webkit-scrollbar {
    width: 1vw
}

html::-webkit-scrollbar-thumb {
    background-color: #7775;
    transition: 0.3s;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

html::-webkit-scrollbar-track {
    background-color: #5555;
    transition: 0.3s;
}

html::-webkit-scrollbar-track:hover {
    background-color: #555;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* All Pages */

.blackButton {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 7px;
    border-radius: 3px;
    transition: 0.3s;
    cursor: default;
}

.blackButton:hover {
    padding-left: 40px;
    padding-right: 40px;
}

.mainText {
    font-size: 550%;
    align-content: bottom;
}

.search-bar {
    width: calc(100% - 37px);
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 0px none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 13.35px;
}

.searchButton {
    position: relative;
    top: 8px;
    right: 8px;
    padding: 0px 0px;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

/* Index Page */

.midText {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

::placeholder {
    color: rgb(216, 216, 216);
    opacity: 1;
    font-family: 'Roboto', 'sans-serif';
}

.outerSearch {
    background-color: var(--accent-color);
    width: 65%;
    margin: auto;
    border: 2px;
    border-radius: 10px;
    text-align: right;
    box-shadow: none;
    transition: 0.3s;
}

.outerSearch:hover, .outerSearch:focus-within {
    box-shadow: 2px 1px 5px 0.5px var(--shadow-color);
}



/* Player Page */

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    height: 450px;
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--skeleton-dark);
    }

    100% {
        background-color: var(--skeleton-light);
    }

}

.webtor {
    border-radius: 7px;
}

.content {
    display: inline-block;
    width: 800px;
}

.recoMovies {
    width: 230px;
    height: 345px;
    border: 0;
    border-radius: 2px;
    transition: 0.3s;
}

.recoMovies:hover {
    border-radius: 7px;
}

.sidebar {
    float: right;
    width: calc(100% - 800px);
    text-align: center;
    position: relative;
    top: 16px;
}

@media (max-width: 1045px) {

    .content,
    .sidebar {
        width: 100%;
    }
}

.titleText {
    font-family: 'Roboto', sans-serif;
    color: default;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:link {
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
}

a:hover {
    color: var(--text-color);
}

a:active {
    color: var(--text-color);
}

td {
    text-align: left;
}

tr {
    text-align: left;
}

/* Movies and TV Pages */

.titleButton {
    position: relative;
    left: 30px;
    bottom: 20px;
}

.titleBar {
    position: absolute;
    float: top;
    background-color: var(--bar-color);
    width: 100%;
    top: 0px;
    left: 0px;
    height: 60px;
    box-shadow: 2px 1px 5px 0.5px var(--shadow-color);
    transition: 0.3s;
}

.titleBar:hover {
    box-shadow: 2px 5px 5px 0.5px var(--shadow-color);
}

.underBar {
    height: 60px;
}

.moviesPane {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
    height: 380px;
}

.coverImage {
    height:345px;
    width: 230px;
    transition: 0.3s;
    vertical-align: middle;
    margin-left: 4.2px;
    margin-right: 4.2px;
    margin-top: 25px;
    border-radius: 7px;
}

.coverImage:hover {
    border-radius: 12px;
    height: 370px;
    width: 246.67px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0px 3px 3px 1px var(--shadow-color);
}

@media only screen and (max-width: 1318px) {
    .c5 {
        display: none;
    }
}

@media only screen and (max-width: 1068px) {
    .c4 {
        display: none;
    }
}

@media only screen and (max-width: 827px) {
    .c3 {
        display: none;
    }
}

@media only screen and (max-width: 589px) {
    .c2 {
        display: none;
    }
}

.lrButton {
    font-size: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    transition: 0.3s;
}

.lrButton:hover {
    background-color: var(--accent-color);
    color: white;
    border-radius: 10px;
}

.subHeading {
    font-family: std;
    position: relative;
    left: 45px;
    width: min-content;
    white-space: nowrap;
    font-size: 40px;
    cursor: default;
    margin-bottom: 2px;
    margin-top: 20px;
}

.barOuterSearch {
    background-color: var(--bar-button-color);
    width: 65%;
    margin: auto;
    border: 2px;
    border-radius: 10px;
    text-align: right;
    box-shadow: none;
    transition: 0.3s;
    position: relative;
    bottom: 15px;
}

.barOuterSearch:hover, .barOuterSearch:focus-within {
    background-color: var(--select-color);
}

.barButton {
    background-color: var(--bar-button-color);
    color: white;
    border: none;
    padding: 7px;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
}

.barButton:hover {
    background-color: var(--select-color);
}

.barSearchButton {
    position: relative;
    top: 8px;
    right: 8px;
    padding: 0px 0px;
    border: none;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
}

.bar-search-bar {
    width: calc(100% - 37px);
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 0px none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 13.35px;
}

.bar-search-bar::placeholder {
    color: var(--text-color);
}

/* Episodes */

.leftImage {
    width: 322px;
    height: 483px;
    border: 0;
    border-radius: 2px;
    position: relative;
    left: 45px;
}

.bg {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
    width: 110%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    z-index: -1;
}

@media (max-width: 1400px) {
    .bg {
        height: 110%;
        width: auto;
    }
}

.epTitleBar {
    position: absolute;
    float: top;
    background-color: var(--op-bar-color);
    width: 100%;
    top: 0px;
    left: 0px;
    height: 60px;
    box-shadow: 2px 1px 5px 0.5px var(--shadow-color);
    transition: 0.3s;
    /* opacity: 50%; */
}

.epOuterSearch {
    background-color: rgba(1,1,1,0.05);
    width: 65%;
    margin: auto;
    border: 2px;
    border-radius: 10px;
    text-align: right;
    box-shadow: none;
    transition: 0.3s;
    position: relative;
    bottom: 15px;
    right: -10px;
}

.epOuterSearch:focus-within, .epOuterSearch:hover {
    background-color: rgba(1,1,1,0.1);
}

.epBarButton {
    background-color: rgba(1,1,1,0.05);
    color: white;
    border: none;
    padding: 7px;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
}

.epBarButton:hover {
    background-color: rgba(1,1,1,0.1);
}

.epTable {
    /* background-color: var(--op-bar-color); */
    background-color: rgba(1,1,1,0.3);
    border-radius: 10px 10px 0px 0px;
    width: 80%;
    margin: auto;
    position: relative;
    top: 50px;
    height: calc(100vh - 120px);
}

.epContent {
    display: inline-block;
    width: 400px;
}

.epSidebar {
    float: right;
    width: calc(100% - 400px);
    text-align: left;
    position: relative;
}

@media (max-width: 800px) {
    .epContent{
        width: 100%;
    }
    .epSidebar {
        width: calc(100% - 45px);
    }
}
.seasonSelect {
    position: relative;
    font-family: Arial;
}

.episodeBox {
    top: 10px;
    width: calc(100% - 20px);
    border-radius: 8px 8px 0 0;
    background-color: rgba(1,1,1,0.05);
    margin-top: 10px;
    min-height: calc(100vh - 238px);
    margin-bottom: 0px;
}

.innerEpFiller {
    background-color: #111;
    width: 100%;
    height: 10px;
    opacity: 0;
    
}

.episode {
    background-color: rgba(1,1,1,0.05);
    width: calc(100% - 20px);
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.epTitle {
    margin-left: 10px;
}